<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Calm Rising{% endblock %}</title>

    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    {% block stylesheets %}
        <style>
            * {
                padding: 0;
                margin: 0;
            }
            body {
                background-color: #171F2D;
            }

            .navbar {
                border-bottom: 4px solid #fb244d;
            }

            .nav-link {
                color: #F5F5F5;
            }

            .dropdown-item:hover {
                transition: .2s ease-in-out;
                background-color: #dcdee2;
                color: #000b1e;
            }

            .dropdown-item {
                transition: .2s ease-in-out;
            }

            .login-button {
                border: 3px solid #fb244d;
                border-radius: 15px;
                background-color: transparent;
                padding: 2px;
                width: 100px;
            }

            .yeet {
                justify-content: space-between;

            }
        </style>
    {% endblock %}
</head>
<body>
<div class="yeet">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">
            <img src="https://media.discordapp.net/attachments/413089272141316101/535533691569569792/Calm_logo_1.png?width=558&height=467"
                 width="30" height="30" class="d-inline-block align-top" alt="">
            Calm Rising
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Pro team</a>
                        <a class="dropdown-item" href="#">Semi-pro team</a>
                        <a class="dropdown-item" href="#">Competitive</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Apply</a>
                </li>
            </ul>
        </div>
        <div>
            <button class="login-button">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ ''|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    <a class="" style="color: white;"
                       href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="login-button-out" style="color: white"
                       href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </button>
        </div>
    </nav>
</div>



        {% block fos_user_content %}{% endblock %}
        {% block body %}{% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>{% block javascripts %}{% endblock %}
</body>
</html>
